#main {
  border: 1px red solid;
  position: fixed;
}

#target {
  position: fixed;
  border: 1px blue solid;
  height: 1px;
  width: 1px;
}

#card1 {
  position: absolute;
  left: 100px;
  top: 100px;
  border: 1px red solid;
  height: 100px;
  width: 100px;
}

#card2 {
  position: absolute;
  left: 300px;
  top: 100px;
  border: 1px red solid;
  height: 100px;
  width: 100px;
}

#card3 {
  position: absolute;
  left: 300px;
  top: 300px;
  border: 1px red solid;
  height: 100px;
  width: 100px;
}
