#main {
  border: 1px red solid;
  position: absolute;
}

#main-drag {
  border: 1px blue solid;
  position: absolute;
}

.card {
  position: absolute;
  height: 100px;
  width: 100px;
  border: 1px red solid;
}

#card1 {
  left: 100px;
  top: 100px;
}

#card2 {
  left: 300px;
  top: 100px;
}

#card3 {
  left: 300px;
  top: 300px;
}
