body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
}

#main {
  position: absolute;
}

#main-drag {
/*  border: 1px blue solid; */
  position: absolute;
}

#main-drag-handle {
  background: #3CA4C7;
  position: fixed;
}

.card {
  background: #FAF9F5;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  position: absolute;
  min-height: 100px;
  width: 200px;
}

.card .body {
  padding: 20px 10px;
}

.card .title {
  border-bottom: 1px solid #C4AFAF;
  padding: 10px;
}

.card h1 {
  color: #A7A7A7;
  font-size: 20px;
  font-weight: light;
}

.card p {
  font-family: 15px;
  line-height: 22px;
}

#card1 {
  left: 100px;
  top: 100px;
}

#card2 {
  left: 300px;
  top: 100px;
}

#card3 {
  left: 300px;
  top: 300px;
}
