body {
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  background: #3CA4C7;
}

#menu {
  background: white;
}

#main {
  position: absolute;
}

#main-drag {
  position: absolute;
}

#main-drag-handle {
  position: fixed;
}

.card {
  background: #FAF9F5;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
  height: 150px;
  position: absolute;
  width: 250px;
}

.card .body {
  padding: 5px;
}

.card p {
  font-size: 12px;
}

.card .body p:first-child {
  border-bottom: 1px solid #C4AFAF;
  font-weight: bold;
  margin-bottom: 5px;
  padding-bottom: 2px;
}

.hidden {
  display: none;
}
